{% extends 'base.html.twig' %}

{% block title %}Trainee index{% endblock %}

{% block body %}
    <h1>Trainee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Birthdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trainee in trainees %}
            <tr>
                <td>{{ trainee.id }}</td>
                <td>{{ trainee.createdAt ? trainee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trainee.name }}</td>
                <td>{{ trainee.phone }}</td>
                <td>{{ trainee.birthdate ? trainee.birthdate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('trainee_show', {'id': trainee.id}) }}">show</a>
                    <a href="{{ path('trainee_edit', {'id': trainee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trainee_new') }}">Create new</a>
{% endblock %}
