{{ form_start(formPost) }}
    <div class="post_description_label" style="font-style:italic;">
        {{ form_label(formPost.description) }}
    </div>

    <div class="post_description_input">
        {# on peut ajouter des options comme par exemple on peut les attributs HTML grâce
        à l'option 'attr' #}
        {{ form_widget(formPost.description, {'attr': {'class': 'textarea-post', 'placeholder': 'Tapez votre post'}}) }}
    </div>

    <div class="post_description_errors">
        {{ form_errors(formPost.description) }}
    </div>

    <input type="submit" value="Enregistrer le post" />
{{ form_end(formPost) }}