{% extends 'base.html.twig'%}

{% block body %}
    Timeline
    {#
    <div>
        <p>
            {{ post.description }}
            <br>
            <span>le {{ post.createdAt | date('d/m/Y à H:i:s') }}</span>
        </p>
    </div>
    #}

    <div class="container">
         <div class="col-6 offset-3" style="border:1px solid;">
             {# on passe à ce template la variable form en la mettant
             dans la variable formPost, car dans le fichier inclus ci-dessous,
              il faut formPost et non form#}
             {% include 'app/_form_new_post.html.twig' with {'formPost': form} %}
         </div>

        <div id="list-posts" class="col-6 offset-3" style="border:1px solid;">
            {% for p in posts %}
                <div>
                    <p>
                        {{ p.user.name }} :<br>
                        {{ p.description }}
                        <br>
                        <span>le {{ p.createdAt | date('d/m/Y à H:i:s') }}</span>
                    </p>
                    {# on affiche un lien de modification uniquement si c'est votre post #}
                    {% if app.user.id == p.user.id %}
                    <p>
                        <a href="{{ path('edit_post', {'id': p.id}) }}">Modifier</a>
                    </p>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}


